.dropdownlist {
    padding: 0 ;
    margin: 6px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid var(--light-border-colour);
    border-radius: 4px;
    position: absolute;
    top: 100%;
}

.dropdownlist a {
    display: inline-block;
    padding: 8px 16px;
    color: var(--dark-blue-text-colour);
}