.button {
    border-radius: 6px;
    border: 2px solid var(--light-border-colour);
    background: transparent;
    color: var(--dark-blue-text-colour);
    padding: 8px 16px;
}

.button-solid {
    background: var(--button-blue-colour);
    border-color: var(--button-blue-colour);
    color: #fff;
}
.button-transparent {
    background: transparent;
    border: none;
    color: var(--dark-blue-text-colour);
}

.button-image {
    background: transparent;
    border: 1px solid transparent;
    color: var(--dark-blue-text-colour);
}

.button-image:focus {
    outline: none ;
    box-shadow: none;
    border: none;
}
.button-image.active, .button-image:active  {
    background: #C0CFD180;
    border: 2px solid #C0CFD14D;
    outline: none;
    color: var(--dark-blue-text-colour);
}